<p>Pick the design that you like the most between Option A and B.</p>
<!--End Instructions-->

<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <label class="btn btn-default img-btn"><span class="clearfix img-label"><input autocomplete="off" class="pull-left img-options" id="itemA" name="preference" required="" type="radio" value="optionA"> <span class="pull-left"><strong>Option A</strong></span></span> <span class="img-wrap"><img alt="Option A" class="img-thumbnail img-check" src="" /></span></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <label class="btn btn-default img-btn"><span class="clearfix img-label"><input autocomplete="off" class="pull-left img-options" id="itemB" name="preference" required="" type="radio" value="OptionB"> <span class="pull-left"><strong>Option B</strong></span></span> <span class="img-wrap"><img alt="Option B" class="img-thumbnail img-check" src="" /></span></label>
        </div>
      </div><!-- Row -->
    </div><!--Form Group-->
  </div><!--Panel Default-->
</div>
<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <label for="WritingTexts">Why do you prefer this design?:</label>
      <textarea class="form-control" cols="250" id="WritingTexts" name="WritingTexts" required="" rows="6"></textarea>
    </div>
  </div>
</div>
