<p><strong>Description</strong></p>
<p>
  The purpose of this study is to help us improve on the design of our website. This task requires that you install a plug-in to proceed. The plugin will allow you to share your screen and microphone for the duration of the test.&nbsp;Please note that for this test, you&rsquo;ll be using a prototype, not a finished product. Some features may be missing or unresponsive. If something doesn&rsquo;t work as expected, tell us what you think should happen.
</p>
<p>
  <strong>Think Out Loud</strong>
</p>
<p>
  For this task, it is important to &ldquo;think out loud.&rdquo; For example, pretend we are having a conversation: If I asked you, &ldquo;how many windows are in your home?&rdquo;, how would you respond?
</p>
<strong>
  Instructions
</strong>
<ol>
	<li>Look around this screen, please tell us what you think you can do on this site.</li>
	<li>Show and tell us how ...</li>
	<li>Show and tell us what steps you would take to ...</li>
</ol>
<p>
  <strong>Note to participants</strong>: Please leave this screen open while participating in the test. A headset with a working microphone is required to participate in this HIT.
</p>
<!-- End Instructions -->
<div class="row" id="workContent">
  <div class="col-xs-12 col-md-6 col-md-offset-3"><!-- Content for Worker -->
    <table class="table table-condensed table-bordered">
    	<colgroup>
    		<col class="col-xs-4 col-md-4" />
    		<col class="col-xs-8 col-md-8" />
    	</colgroup>
    	<tbody>
    		<tr>
    			<td><label>Survey link:</label></td>
    			<td><a class="dont-break-out" href="https://participate.lookback.io/D3Bzx7" target="_blank">https://participate.lookback.io/D3Bzx7</a></td>
    		</tr>
    	</tbody>
    </table>
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="form-group">
          <label for="Feedback">What did you think about the design?:</label>
          <textarea class="form-control" cols="250" id="Feedback" name="Feedback" required="" rows="6"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
