<h3>Survey Link</h3>
<div class="panel panel-default">
  <div class="panel-body">
    <table class="table table-condensed table-bordered">
    	<colgroup>
    		<col class="col-xs-4 col-md-4" />
    		<col class="col-xs-8 col-md-8" />
    	</colgroup>
    	<tbody>
    		<tr>
    			<td><label>Survey link:</label></td>
    			<td><a class="dont-break-out" href="http://[example.com/survey345.html]" target="_blank">http://example.com/survey345.html</a></td>
    		</tr>
    	</tbody>
    </table>
    <div class="form-group"><label for="surveycode">Provide the survey code here:</label> <input class="form-control" id="surveycode" name="surveycode" placeholder="e.g. 123456" required="" type="text" /></div>
  </div>
</div>
