<div class="panel panel-default">
  <div class="panel-body">
    <div class="form-group">
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <label class="btn btn-default img-btn"><span class="clearfix img-label"><input autocomplete="off" class="pull-left img-options" id="itemA" name="Option A" required="" type="radio" value="optionA"> <span class="pull-left"><strong>Option A</strong></span></span> <span class="img-wrap"><img alt="Option A" class="img-thumbnail img-check" src="${image_A_url}"></span></label>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="form-group">
            <label class="btn btn-default img-btn"><span class="clearfix img-label"><input autocomplete="off" class="pull-left img-options" id="itemB" name="Option B" required="" type="radio" value="OptionB"> <span class="pull-left"><strong>Option B</strong></span></span> <span class="img-wrap"><img alt="Option B" class="img-thumbnail img-check" src="${image_A_url}"></span></label>
          </div><!--Form Group-->
        </div>
      </div><!-- Row -->
    </div><!--Panel Body-->
  </div><!--Panel Default-->
</div>
